// Easy Retina Images - http://37signals.com/svn/posts/3271-easy-retina-ready-images-using-scss
@mixin image-2x($image, $width, $height) {
  @media (min--moz-device-pixel-ratio: 1.3),
         (-o-min-device-pixel-ratio: 2.6/2),
         (-webkit-min-device-pixel-ratio: 1.3),
         (min-device-pixel-ratio: 1.3),
         (min-resolution: 1.3dppx) {
    /* on retina, use image that's scaled by 2 */
    background-image: url($image);
    background-size: $width $height;
  }
}

// Hero Panel Mixin
@mixin hero-panel($hero) {
  .panel::after {
    content: "";
    background: $lightBlue;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -2;   
  }
  .panel::before {
    content: "";
    background-image: asset-url("#{$hero}-deck.jpg", image);
    background-repeat: no-repeat;
    opacity: 1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    transition: opacity 0.2s ease-in-out;  
  }
  &:hover {
    .panel::before {
      opacity: .5;
    }
  }
}

// Featured Deck Mixin
@mixin featured-deck($hero, $left-right, $top-bottom) {
  background-image: asset-url("#{$hero}-deck.jpg", image);
  position: absolute;
  width: 100%;
  top: 0;
  height: 59px;
  opacity: .5;
  background-position: $left-right $top-bottom;
  background-repeat: no-repeat;
}