/* 
 Brand colors
 ============
 $darkBlue - Used for header and the background of page elements.
 $lightBlue - Used for page background.
 $blueGreen - Used for links and form inputs.
 $offWhite - Used for font color.
*/

$darkBlue: #232329;
$lightBlue: #2b2c33;
$blueGreen: #24868a;
$offWhite: #ededfb;
$lightPurple: #a7a7c1;


/* 
 Brand colors
 ============
 $openSans - Used for head tags
 $proximaNova - Used for body copy
*/

$openSans: "open-sans",sans-serif;
$proximaNova: "proxima-nova",sans-serif;