@import "globals/all";

.card-list {
  .card-list-wrapper {
    background: $darkBlue;
    border-radius: 3px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 5px;
  }
  .search-bar {
    .search-icon {
      position: absolute;
      font-size: 16px;
      position: absolute;
      font-size: 20px;
      left: 13px;
      top: 10px;
      opacity: .5;
    }
    input {
      width: 100%;
      border: none;
      box-shadow: none;
      border-top-left-radius: 3px;
      background-color: #4f4f54;
      font-size: 16px;
      font-family: $openSans;
      height: 40px;
      color: $offWhite;
      text-indent: 40px;
    }
  }
}

.single-card {
  padding: 0;
  margin-top: -15px;
  .card-img {
    max-width: 100%;
    transition: top 0.2s linear;
    position: relative;
    top: 0;
    &:hover {
      top: -10px;
      opacity: .7;
      transition: top 0.2s linear;
    }
  }
}