@import "globals/all";

.deck-panel {
  cursor: pointer;

  .deck-overlay {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    background: $lightBlue;
    background: -moz-linear-gradient(top, rgba(43,44,51,.6) 10%, rgba(43,44,51,1) 50%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(10%,rgba(43,44,51,1)), color-stop(50%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(43,44,51,.6) 10%,rgba(43,44,51,1) 50%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(43,44,51,.6) 10%,rgba(43,44,51,1) 50%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(43,44,51,.6) 10%,rgba(43,44,51,1) 50%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(43,44,51,.6) 10%,rgba(43,44,51,1) 50%); /* W3C */
  }

  .deck-info {
    background: $darkBlue;
    text-align: center;
    .stat {
      padding: 5px;
      border-right: 1px solid $lightBlue;
      color: #a7a7c1;
      &:last-child {
        border-right: none;
      }
    }
  }

  .deck-summary {
    color: lighten(#717383, 10);
  }

  .comment-icon {
    font-size: 16px;
    padding-right: 5px;
    position: relative;
    top: 1px;
  }

  .panel {
    position: relative;
    box-shadow: none;
    border: 2px solid $darkBlue;
    border-radius: 3px;
    min-height: 240px;
    background: none;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
  }

  .panel-body {
    margin-top: 60px;
    padding-bottom: 0;
  }

  .panel-bottom {
    padding: 10px;

    .deck-author {
      padding-left: 0px;
      text-align: left;
      .avatar {
        width: 20px;
        height: 20px;
        padding-left: 0;
        border-radius: 3px;
        background: $darkBlue;
      }
      .username {
        margin-left: -10px;
      }
    }
    .draw-hand {
      padding-right: 0px;
      text-align: center;
      .draw-hand-button {
        font-size: 14px;
        border: 1px solid $darkBlue;
        border-radius: 3px;
        transition: all 0.2s linear;
        &:hover {
          border: 1px solid $offWhite;
          transition: all 0.2s linear;
        }
      }
    }
  }

  &.warlock {
    @include hero-panel("warlock");
  }

  &.mage {
    @include hero-panel("mage");
  }

  &.druid {
    @include hero-panel("druid");
  }

  &.shaman {
    @include hero-panel("shaman");
  }

  &.priest {
    @include hero-panel("priest");
  }

  &.rogue {
    @include hero-panel("rogue");
  }

  &.paladin {
    @include hero-panel("paladin");
  }

  &.hunter {
    @include hero-panel("hunter");
  }

  &.warrior {
    @include hero-panel("warrior");
  }
}