@import "globals/all";

.footer {
	width: 100%;
	position: fixed;
	bottom: 0px;
  min-height: 280px;
  z-index: -3;
  background-image: asset-url("footerbg.jpg", image);
  background-repeat: no-repeat; 
	background-color: $darkBlue;
  a {
    color: $lightPurple;
    &:hover {
      color: $offWhite;
    }
  }
  .footer-title {
    margin-top: 35px;
    margin-bottom: 25px;
    font-weight: 100;
    font-family: $proximaNova;
    text-align: center;
    color: #717383;
  }
  .footer-link-wrapper {
    margin-left: 20.5%;
    .footer-link {
      text-align: center;
      font-size: 20px;
      z-index: 1;
    }
  }
  .sharing-buttons {
    margin-top: 30px;
    margin-bottom: 20px;
    border: 3px solid $lightBlue;
    border-radius: 3px;
    display: inline-block;
    padding: 15px;
    .twitter-button {
      margin-right: 15px;
    }
    .twitter-button, .facebook-button {
      display: inline;
      z-index: 1;
    }
  }
  .footer-text {
    color: #717383;
    font-size: 16px;
    .contact-icon {
      font-size: 25px;
      position: relative;
      top: 4px;
    }
  }
}