@import "globals/all";
.forum-widget {
  background: $darkBlue;
  border-radius: 3px;
  margin-bottom: 50px;
  ul {
    padding: 0;
  }
	li {
    list-style: none;
    border-bottom: 1px solid $lightBlue;
    a {
      padding: 10px;
      display: block;
      .topic-title {
        font-size: 15px;
        margin-top: 0;
        margin-bottom: 0;
        color: $lightPurple;
        padding-bottom: 2px;
      }
      .topic-info {
        color: #717383;
        span {
          color: $lightPurple;
        }
      }
      &:hover {
        text-decoration: none;
        .topic-title {
          color: $offWhite;
        }
      }
    }
    &:last-child {
      border-bottom: none;
    }
  }
}