@import "globals/all";

.global-header {
	background: $darkBlue;
  border-color: rgba(255,255,255,.06) !important;

  .navbar-header { 
    .chicken-image {
      width: 339px;
      height: 50px;
      background: asset-url("angrychicken.png", image) no-repeat;
      position: absolute;
      left: 0;
      z-index: -1;
      opacity: .10;
      transition: opacity .50s ease-in-out;
      -moz-transition: opacity .50s ease-in-out;
      -webkit-transition: opacity .50s ease-in-out;
    }
    &:hover {
      .chicken-image {
        opacity: .20;
        transition: opacity .50s ease-in-out;
        -moz-transition: opacity .50s ease-in-out;
        -webkit-transition: opacity .50s ease-in-out;
      }
    }
  }

  .navbar-brand {
    text-indent: -200px;
    width: 134px;
    background: asset-url("logo.png", image) no-repeat;
    @include image-2x("logo2x.png", 134px, 21px);
    background-position-y: 16px;
  }
}