@import "globals/all";

.global-header {
	background: $darkBlue;
  border-color: rgba(255,255,255,.06) !important;

  a {
    font-family: $openSans;
    font-weight: 100;
    font-size: 20px;
  }

  .current-user {
    > a {
      font-size: 16px;
      color: #818194 !important;
      strong {
        color: $offWhite !important;
        font-weight: 500;
      }
    }
    background: #202025;

  }

  .dropdown-menu {
    background: #000;
    background: rgba(0,0,0,.3);
    padding-top: 0;
    padding-bottom: 0;
    min-width: 100%;
    > li > a {
      font-size: 16px;
      color: $lightPurple;
      padding-top: 10px;
      padding-bottom: 10px;
      font-family: $openSans;
      font-weight: 100;
      &:hover {
        color: $offWhite;
        background: none;
      }
    }
    li:first-child {
      padding-top: 0px;
      border-bottom: 1px solid $lightBlue;
    }
  }

  // Logo 
  .navbar-brand {
    text-indent: -400px;
    width: 134px;
    background: asset-url("logo.png", image) no-repeat;
    @include image-2x("logo2x.png", 134px, 21px);
    background-position: 0 16px;
    margin-left: 0 !important;
  }

  .navbar-header {
    .chicken-image {
      width: 339px;
      height: 50px;
      background: asset-url("angrychicken.png", image) no-repeat;
      position: absolute;
      left: 0;
      z-index: -1;
      opacity: .10;
      transition: opacity .50s ease-in-out;
      -moz-transition: opacity .50s ease-in-out;
      -webkit-transition: opacity .50s ease-in-out;
    }
    &:hover {
      .chicken-image {
        opacity: .20;
        transition: opacity .50s ease-in-out;
        -moz-transition: opacity .50s ease-in-out;
        -webkit-transition: opacity .50s ease-in-out;
      }
    }
  }
}

.navbar-inverse .navbar-nav > li > a {
  color: $lightPurple;
  &:hover {
    color: $offWhite;
  }
  &.active {
    color: $offWhite;
  }
}