<h3>User Template</h3>

<ul>
  <li>Username: {{username}}</li>
  <li>Email: {{email}}</li>
</ul>

<h4>Decks:</h4>

<ul>
  {{#each deck in decks}}
  <li>{{#link-to 'deck' deck}}{{deck.name}}{{/link-to}}</li>
  {{/each}}
</ul>
