@import "globals/all";

a {
 cursor: pointer;
 // -webkit-transition: color 500ms ease-out 500ms;
 // -moz-transition: color 500ms ease-out 500ms;
 // -o-transition: color 500ms ease-out 500ms;
 transition: all 0.2s linear;
}

body {
  background-image: asset-url("hearth-back.jpg", image);
  background-repeat: no-repeat;
	background-color: $lightBlue;
  color: $offWhite;
  font-family: $proximaNova;
  padding-top: 200px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $openSans;
}

.profiler-results {
  top: 51px !important; // Prevent miniprofiler from obscuring the header.
}

