@import "globals/all";

a {
 cursor: pointer;
 outline: 0;
 -webkit-transition: all 0.2s linear;
 -moz-transition: all 0.2s linear;
 -o-transition: all 0.2s linear;
 transition: all 0.2s linear;
}

body {
  color: $offWhite;
  font-family: $proximaNova;
  margin-bottom: 260px;
}

.dropdown-menu {
  background: #000;
  background: rgba(0,0,0,.3);
  padding-top: 0;
  padding-bottom: 0;
  min-width: 100%;
  > li > a {
    font-size: 16px;
    color: $lightPurple;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: $openSans;
    font-weight: 100;
    &:hover {
      color: $offWhite;
      background: none;
    }
  }
  li:first-child {
    padding-top: 0px;
    border-bottom: 1px solid $lightBlue;
  }
}

  
h1, h2, h3, h4, h5, h6 {
  font-family: $openSans;
}

.main-content {
  background-image: asset-url("hearth-back.jpg", image);
  background-repeat: no-repeat;
  background-color: $lightBlue;
  padding-top: 200px;
  padding-bottom: 30px;
  position: relative;
  z-index: 1;
  min-height: 600px;
  box-shadow: 0px 5px 10px 1px rgba(0,0,0,.2);
}

.no-padding-left {
  padding-left: 0;
}

.no-padding-right {
  padding-right: 0;
}

.no-padding {
  padding-left: 0;
  padding-right: 0;
}

.profiler-results {
  top: 51px !important; // Prevent miniprofiler from obscuring the header.
}

.truncate {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
