// Prevent miniprofiler from obscuring the header.
.profiler-results {
  top: 51px !important;
}

// Body needs padding because of the header.
body {
  padding-top: 70px;
}

// All <a>s are links.
a {
  cursor: pointer;
}

nav.navbar {
  // Active header links styling.
  a.active {
    color: #fff;
  }

  // Don't apply it to dropdown links though!
  ul.dropdown-menu a.active {
    color: #000;
  }

  // "or" in the header doesn't need spacing to the left and right.
  .navbar-text {
    margin-left: 0;
    margin-right: 0;
  }

  // Whitespace around the username.
  li.dropdown a strong {
    padding-left: 5px;
    padding-right: 5px;
  }
}

// Don't give ".well"s rounded borders.
.well {
  border-radius: 0;
}

// Error and loading messages on top of the login/register page forms.
.form-top-messages {
  .alert {
    margin-bottom: 0;
    border-radius: 0;
  }
}
