<!DOCTYPE html>
<html>
<head>
  <title>AngryChicken</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <!-- Preload models -->
  <script type="text/javascript">
    window.preloadData = <%= (@preload || {}).to_json %>;
  </script>

  <div id="ember-root"></div>

  <%= javascript_include_tag "application" %>
</body>
</html>
